{% include "header.html" %}

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="/static/img/people_1.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-success text-uppercase border-bottom border-5">About Us</h5>
                    <h3 class="display-8">Dixit Health Care (Alternative Therapy Treatment Center)</h3>
                </div>
                <p>Welcome to Dixit Health Care, your trusted destination for holistic healing through natural therapies. Located in Shyam Marg Near Vichitra Veer Hanuman Mandir, Shujalpur Mandi, Dist. Shajapur (M.P.), we are dedicated to offering alternative and Ayurvedic treatments that restore balance and wellness.</p>

                <p>Our expert team of practitioners, led by Dr. Vijay Shyam Dixit (CHW, BAMS (AM), BPT, BEMS, Chiropractic MD, Reg. No.: 22561) and Dr. Pooja Dixit (B.Sc., BEMS, D. Chiro - Specialist in Women's Diseases, Reg. No.: 20769), bring extensive knowledge and experience in holistic healthcare. We integrate Ayurveda, Chiropractic techniques, and other natural therapies to help our patients achieve optimal health.</p>

                <p>Our center offers specialized treatments such as Ayurvedic Panchkarma, Hijama (Cupping Therapy), Ayurveda Consultation, Acupressure, Vastu Consultation, Naturopathy, Foot Massage Therapy, and Chiropractic Therapy (Bone Setting). Each treatment is designed to promote natural healing, relieve pain, and improve overall well-being.</p>

                <p>At Dixit Health Care, we believe in a patient-centric approach, focusing on the root cause of ailments rather than just symptoms. Our goal is to empower individuals with holistic healing techniques, guiding them toward a healthier and more balanced life.</p>

                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <div class="bg-success p-3 rounded-circle d-inline-block">
                                <i class="fa fa-3x fa-leaf text-white mb-3"></i>
                            </div>
                            <h6 class="mb-0">Natural<small class="d-block text-success">Remedies</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <div class="bg-success p-3 rounded-circle d-inline-block">
                                <i class="fa fa-3x fa-heartbeat text-white mb-3"></i>
                            </div>
                            <h6 class="mb-0">Holistic<small class="d-block text-success">Care</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <div class="bg-success p-3 rounded-circle d-inline-block">
                                <i class="fa fa-3x fa-hand-holding-heart text-white mb-3"></i>
                            </div>
                            <h6 class="mb-0">Personalized<small class="d-block text-success">Consultations</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <div class="bg-success p-3 rounded-circle d-inline-block">
                                <i class="fa fa-3x fa-seedling text-white mb-3"></i>
                            </div>
                            <h6 class="mb-0">Sustainable<small class="d-block text-success">Practices</small></h6>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-success text-uppercase border-bottom border-5">Doctors</h5>
            <h3 class="display-8">Best Doctors Teams</h3>
        </div>
        <div class="owl-carousel team-carousel position-relative">
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="/static/img/doctor1.jpg" style="object-fit: cover;" alt="Doctor Image">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Dr. Vijay Shyam Dixit</h3>
                            <h6 class="fw-normal fst-italic text-success mb-4">CHW, BAMS (AM), BPT, BEMS, Chiropractic MD</h6>
                            <p class="m-0">Experience in Gynecological diseases, providing the best treatment for all medical problems.
                                Experience in chiropractic and Orthopaedics, ensuring top-quality care.</p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg bg-success text-white btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg bg-success text-white btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg bg-success text-white btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>

             {% comment %} <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="/static/img/doctor1.jpg" style="object-fit: cover;" alt="Doctor Image">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Dr. Vijay Shyam Dixit </h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">BAMS, BPT</h6>
                            <p class="m-0"> Experience in Gynecological diseases ,provide you
                                a best treatment for all medical problems.
                                Experience in chiropractic and Orthopaedic,
                                provide you the best treatment for all medical
                                problems. </p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}

            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="/static/img/doctor_123.jpeg" style="object-fit: cover;" alt="Doctor Image">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Dr. POOJA DIXIT</h3>
                            <h6 class="fw-normal fst-italic text-success mb-4">B.Sc., BEMS, D. Chiro (Specialist in Women's Diseases)</h6>
                            <p class="m-0">Experience in Gynecological diseases, providing the best treatment for all medical problems.</p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg bg-success text-white btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg bg-success text-white btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg bg-success text-white btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-success text-uppercase border-bottom border-5">Services</h5>
            <h3 class="display-8">Treatment</h3>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4 bg-success p-3 rounded-circle">
                        <i class="fa fa-2x fa-spa text-white"></i>
                    </div>
                    <h4 class="mb-3">Ayurvedic Panchkarma</h4>
                    <p class="m-0">A holistic detoxification therapy that helps cleanse the body of toxins, restore balance, and improve overall well-being through five purification procedures.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4 bg-success p-3 rounded-circle">
                        <i class="fa fa-2x fa-hand-holding-medical text-white"></i>
                    </div>
                    <h4 class="mb-3">Hijama (Cupping Therapy)</h4>
                    <p class="m-0">A traditional healing practice that improves blood circulation, removes toxins, and relieves pain by applying suction cups to specific areas of the body.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4 bg-success p-3 rounded-circle">
                        <i class="fa fa-2x fa-leaf text-white"></i>
                    </div>
                    <h4 class="mb-3">Ayurveda Consultation</h4>
                    <p class="m-0">Personalized health consultations based on Ayurvedic principles to diagnose imbalances and recommend herbal treatments and lifestyle modifications.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4 bg-success p-3 rounded-circle">
                        <i class="fa fa-2x fa-hand-holding-heart text-white"></i>
                    </div>
                    <h4 class="mb-3">Acupressure</h4>
                    <p class="m-0">A natural therapy that stimulates pressure points in the body to relieve pain, reduce stress, and enhance energy flow.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4 bg-success p-3 rounded-circle">
                        <i class="fa fa-2x fa-compass-drafting text-white"></i>
                    </div>
                    <h4 class="mb-3">Vastu Consultation</h4>
                    <p class="m-0">Expert guidance on harmonizing your living or working space with Vastu principles to promote positive energy and well-being.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4 bg-success p-3 rounded-circle">
                        <i class="fa fa-2x fa-tree text-white"></i>
                    </div>
                    <h4 class="mb-3">Naturopathy</h4>
                    <p class="m-0">A natural healing approach that utilizes diet, exercise, herbal remedies, and lifestyle changes to restore health and prevent diseases.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4 bg-success p-3 rounded-circle">
                        <i class="fa fa-2x fa-feather-alt text-white"></i>
                    </div>
                    <h4 class="mb-3">Foot Massage Therapy</h4>
                    <p class="m-0">A therapeutic massage technique that enhances blood circulation, relieves stress, and promotes overall relaxation.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4 bg-success p-3 rounded-circle">
                        <i class="fa fa-2x fa-bone text-white"></i>
                    </div>
                    <h4 class="mb-3">Chiropractic Therapy (Bone Setting)</h4>
                    <p class="m-0">A non-invasive treatment that focuses on spinal alignment and musculoskeletal adjustments to relieve pain and enhance mobility.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services End -->


{% include "footer.html" %}